<!-- 右下角分类图标 -->
<div class="plan-box">
  <div class="business">
    <div class="business_box">
      <div class="img"><img src="assets/img/13.png" alt=""></div>
      <div class="text">
        <div>{{info[0].name}}</div>
        <div>{{info[0].value1}}单</div>
        <div>{{info[0].value2}}件</div>
      </div>
    </div>
    <div class="business_box">
      <div class="img"><img src="assets/img/14.png" alt=""></div>
      <div class="text">
        <div>{{info[1].name}}</div>
        <div>{{info[1].value1}}单</div>
        <div>{{info[1].value2}}件</div>
      </div>
    </div>
    <div class="business_box">
      <div class="img"><img src="assets/img/15.png" alt=""></div>
      <div class="text">
        <div>{{info[2].name}}</div>
        <div>{{info[2].value1}}单</div>
        <div>{{info[2].value2}}件</div>
      </div>
    </div>
  </div>
  <div class="business">
    <div class="business_box">
      <div class="img"><img src="assets/img/16.png" alt=""></div>
      <div class="text">
        <div>{{info[3].name}}</div>
        <div>{{info[3].value1}}单</div>
        <div>{{info[3].value2}}件</div>
      </div>
    </div>
    <div class="business_box">
      <div class="img"><img src="assets/img/17.png" alt=""></div>
      <div class="text">
        <div>{{info[4].name}}</div>
        <div>{{info[4].value1}}单</div>
        <div>{{info[4].value2}}件</div>
      </div>
    </div>
    <div class="business_box">
      <div class="img"><img src="assets/img/18.png" alt=""></div>
      <div class="text">
        <div>{{info[5].name}}</div>
        <div>{{info[5].value1}}单</div>
        <div>{{info[5].value2}}件</div>
      </div>
    </div>
  </div>
</div>