.header {
  width: 100%;
  position: relative;
}

.img {
  width: 183px;
  height: 75px;
  position: absolute;
  left: 0;
  top: 0;
}

.img img {
  width: 100%;
  height: 100%;
}

h1 {
  /* width: 400px; */
  text-align: center;
  font-weight: 600;
  margin: 20px auto;
}
.header .time {
  float: right;
  padding-top: 35px;
  font-size: 16px;
  margin: 30px 30px 0 0;
}

.now_week {
  font-size: 18px;
}

.info {
  width: 100%;
  margin: 56px 0px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: center;
  /* background: #333333; */
}

.info_left {
  width: 50%;
  /* height: 10vh; */
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.info_quality {
  width: 30%;
}
.info_quality div {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
}

.info_quality div:nth-child(2) {
  width: 100%;
  background: #3c57be;
  color: #ffffff;
  border-radius: 8px;
}

.info_order {
  width: 100%;
}

.info_order div:nth-child(1) {
  width: 100%;
  height: 50px;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  font-weight: 600;
}
.info_order div:nth-child(2) {
  margin-bottom: 1px;
}

.info_order .info_con {
  width: 100%;

  text-align: center;
  line-height: 25px;
  font-size: 20px;
  font-weight: 600;
  background: -webkit-linear-gradient(left, #09c5f2 0%, #bfefff 100%);
  background: linear-gradient(to left, #09c5f2 0%, #bfefff 100%);
}

.info_right {
  width: 48%;
  /* padding: 0 10%; */
}

.info_right .leader {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

.leader div {
  font-size: 20px;
  font-weight: 600;
}

.info_right .groups {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.groups .groups_one {
  width: 30%;
  height: 50px;
  margin-left: 10px;
}

.groups_one div:nth-child(1) {
  background: #0064c4;
  font-size: 15px;
  text-align: center;
  color: #ffffff;
}
.groups_one div:nth-child(2) {
  background: #aed3f0;
  font-size: 15px;
  text-align: center;
  /* color: #ffffff; */
}

.groups_one .value_text {
  background: none;
  color: #666666;
}
/* .value_num{

} */

.data {
  clear: both;
}

#data_left {
  display: inline-block;
  width: 49%;
  height: 50vh;
  /* text-align: center; */
}

.data_right {
  /* display: inline-block; */
  float: right;
  width: 32.2%;
  padding-right: 30px;
}

#data_right {
  width: 100%;
  height: 30vh;
  margin: 0 auto;
  /* background: #333333; */
}
.con_top {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.con_box {
  width: 100%;

  margin: 0 0 10px 10px;
}
.label_text {
  width: 100%;
  height: 30px;
  text-align: center;
  background: #07a4f1;
  color: #ffffff;
  font-size: 16px;
  line-height: 30px;
}

.value_text {
  width: 100%;
  height: 30px;
  text-align: center;
  background: #81d3f9;
  color: #333333;
  font-size: 16px;
  line-height: 30px;
}

.con_box .label_botton {
  width: 100%;
}

.con_box .value_bottom {
  width: 100%;
}

.fl {
  float: left;
}

.purple {
  background: #6569a8;
}
.orange {
  background: #f49924;
}
.red {
  background: red;
}
.yellow {
  background: #fffdc2;
}
.violet {
  background: #dfdfeb;
}
.con_box .pink {
  background: #f2ccc9;
}

@media screen and (max-width: 1009px) and (min-width: 961px) {
  .info_quality {
    width: 30%;
    margin: 0px auto;
  }
  .info {
    display: block;
    margin-top: 13%;
    font-size: 20px;
  }
  h1 {
    font-size: 20px;
  }
  .info > div {
    width: 90%;
    display: block;
    margin: 22px auto;
  }
  .info_left {
    font-size: 10px;
  }
  .data {
    margin: 12% auto 0px;
    width: 90%;
  }
  #data_left {
    display: block;
    width: 100%;
  }
  .data_right {
    margin: 0 auto;
    width: 100%;
    display: flow-root;
    padding: 0;
  }
  .info_order .info_con {
    font-size: 1.3rem;
    padding: 10px 0px;
  }
  .header .time {
    margin: -20px auto;
  }
}
.wofan {
  margin-top: 10px;
}

@media screen and (min-width: 1010px) and (max-width: 1550px) {
  .header .time {
    float: right;
    padding-top: 0;
    font-size: 16px;
    margin-top: 0;
  }
  /* h1{
      font-size: 30px;
  }
  .info{
      display: flex;
      margin-top: 13%;
      font-size: 20px;
  }

  .data{

      width: 90%;
  }
  #data_left{
      display: block;
      width: 100%;
  }
  .data_right{
      margin: 0 auto;
      width: 49%;
      display: flow-root;
  }
  .groups{
      margin-bottom: 10%;
  }
  .info_order .info_con{
      font-size: 1.6rem;
      padding: 10px 0px;
    } */
}

@media screen and (width: 960px) {
  html {
    width: 100%;
    height: 100%;
  }
  h1 {
    line-height: 0;
  }

  .header .time {
    padding: 0;
    margin: 0;
  }

  .img {
    width: 100px;
    height: 40px;
    position: absolute;
    left: 0;
    top: 0;
  }

  #data_left {
    transform: scale(0.9);
    transform-origin: 50% 0;
    bottom: -4rem;
  }
  .data_right {
    /* width: 100%; */
    transform: scale(0.7);
    transform-origin: 50% 0;
    bottom: -4rem;
  }
}
