<div class="five-box">
  <div class="line-box">
    <div class="child-box">
      <div class="title">{{data[0].name ? data[0].name : '' }}</div>
      <div class="value">{{data[0].value1}}</div>
    </div>
    <div class="child-box">
      <div class="title" style="background:#e48f22;">{{data[1].name}}</div>
      <div class="value" style="background:#fffdc2;">{{data[1].value1}}</div>
    </div>
  </div>
  <div class="line-box">
    <div class="child-box">
      <div class="title" style="background:#6569a8;">{{data[2].name}}</div>
      <div class="value" style="background:#dfdfeb;">{{data[2].value1}}</div>
    </div>
    <div class="child-box">
      <div class="title" style="background:#ff0000;">{{data[3].name}}</div>
      <div class="value" style="background:#f2ccc9;">{{data[3].value1}}</div>
    </div>
  </div>
  <div class="line-box">
    <div class="bottom-box">
      <div class="title" style="background:#e48f22;">{{data[4].name}}</div>
      <div class="value" style="background:#fffdc2;">{{data[4].value1 * 100 +'%'}}</div>
    </div>
  </div>
</div>
