<div class="container ">
    <div class="header">
        <div class="logo"><img src="assets/img/LOGO.png" alt=""></div>
        <div class="head_title">各组转款率</div>
        <div class="time">
            <div class="now_time"> 
                <span class="get_now_time">{{nowTime | date:"yyyy-MM-dd HH:mm:ss"}}</span>
            </div>
        </div>
    </div>
    
    <div class="content">
        <div class="list">
            <table>
                <tr>
                    <th>组别</th>
                    <th>日期</th>
                    <th>款号</th>
                    <th>款式</th>
                    <th>SAM/mln</th>
                    <th>转款时间/min</th>
                    <th>倍数</th>
                    <th>会议时间/min</th>
                    <th>转款目标数</th>
                    <th>备注</th>
                </tr>
                <tr>
                    <td>4A</td>
                    <td>2020-7-27</td>
                    <td>3146</td>
                    <td>新款</td>
                    <td>15.0</td>
                    <td>50</td>
                    <td>3.3</td>
                    <td>12</td>
                    <td>4</td>
                    <td>
                        <!-- <img src="../img/num_1.png" alt=""> -->
                    </td>
                </tr>
                <tr>
                    <td>4A</td>
                    <td>2020-7-27</td>
                    <td>3146</td>
                    <td>新款</td>
                    <td>15.0</td>
                    <td>50</td>
                    <td>3.3</td>
                    <td>12</td>
                    <td>4</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4A</td>
                    <td>2020-7-27</td>
                    <td>3146</td>
                    <td>新款</td>
                    <td>15.0</td>
                    <td>50</td>
                    <td>3.3</td>
                    <td>12</td>
                    <td>4</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4A</td>
                    <td>2020-7-27</td>
                    <td>3146</td>
                    <td>新款</td>
                    <td>15.0</td>
                    <td>50</td>
                    <td>3.3</td>
                    <td>12</td>
                    <td>4</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4A</td>
                    <td>2020-7-27</td>
                    <td>3146</td>
                    <td>新款</td>
                    <td>15.0</td>
                    <td>50</td>
                    <td>3.3</td>
                    <td>12</td>
                    <td>4</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4A</td>
                    <td>2020-7-27</td>
                    <td>3146</td>
                    <td>新款</td>
                    <td>15.0</td>
                    <td>50</td>
                    <td>3.3</td>
                    <td>12</td>
                    <td>4</td>
                    <td></td>
                </tr>
                <tr>
                    <td>4A</td>
                    <td>2020-7-27</td>
                    <td>3146</td>
                    <td>新款</td>
                    <td>15.0</td>
                    <td>50</td>
                    <td>3.3</td>
                    <td>12</td>
                    <td>4</td>
                    <td></td>
                </tr>
            </table>
    
        </div>
    </div>
    
</div>
