<!-- 右上角pmc分类 -->

<div class="charts-info">
  <div class="business">
    <div class="business_box">
      <div class="img"><img src="assets/img/07.png" alt=""></div>
      <div class="text">
        <div>{{info[0].name}}</div>
        <div>{{info[0].value1}}单</div>
        <div>{{info[0].value2}}项物料</div>
      </div>
    </div>
    <div class="business_box">
      <div class="img"><img src="assets/img/08.png" alt=""></div>
      <div class="text">
        <div>{{info[1].name}}</div>
        <div>{{info[1].value1}}单</div>
        <div>{{info[1].value2}}件</div>
      </div>
    </div>
  </div>
  <div class="business">
    <div class="business_box">
      <div class="img"><img src="assets/img/09.png" alt=""></div>
      <div class="text">
        <div>{{info[2].name}}</div>
        <div>{{info[2].value1}}单</div>
        <div>{{info[2].value2}}项物料</div>
      </div>
    </div>
    <div class="business_box">
      <div class="img"><img src="assets/img/10.png" alt=""></div>
      <div class="text">
        <div>{{info[3].name}}</div>
        <div>{{info[3].value1}}单</div>
        <div>{{info[3].value2}}件</div>
      </div>
    </div>
  </div>
  <div class="business">
    <div class="business_box">
      <div class="img"><img src="assets/img/11.png" alt=""></div>
      <div class="text">
        <div>{{info[4].name}}</div>
        <div>{{info[4].value1}}单</div>
        <div>{{info[4].value2}}项物料</div>
      </div>
    </div>
    <div class="business_box">
      <div class="img"><img src="assets/img/12.png" alt=""></div>
      <div class="text">
        <div>{{info[5].name}}</div>
        <div>{{info[5].value1}}单</div>
        <div>{{info[5].value2}}件</div>
      </div>
    </div>
  </div>
</div>